
.hidden {
    display: none;
}

/* Centering main content   */
.homepage {
    margin-top: 10%;
    display: grid;
    place-items: center;
    }
    
    /* Getting rid of borders around btn */
    #back-home {
        margin-top: 25px;
        border: none;
        background: none;
    }
    
    #archiveBtn {
        margin-top: 25px;
        border: none;
        background: none;
    }
    
    /* Adjusting font size for Main content */
    h2 {
        font-size: 5rem;
    }